:root {
  /* Primary */

--Strong-cyan: hsl(172, 67%, 45%);

/* Neutral */

--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}

main{
  border: 1px solid blue;
  background-color: var(--Light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 2px solid orangered;
  background-color: var(--White);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  margin: 28px 0;
}

header h1 {
  font-size: 25px;
  color: var(--Very-dark-cyan);
}


/************ TOP START  *****************/
.top {
  border: 1px solid cyan;
  width: 85%;
  margin: 20px 80px;

}

.sub-title {
  border: 1px solid purple;
  font-size: 16px;
  margin-bottom: 10px;
  align-self: flex-start;
  color: var(--Dark-grayish-cyan);
  font-weight: 700;
}

.bill {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  /* width: 100%; */
}

.bill img {
  width: 15px;
  /* height: 15px; */
}

input {
  text-align: right;
  border: none;
  width: 80%;
  font-weight: 700;
  color: var(--Very-dark-cyan);
}

/************ TOP END  *****************/

/************ MIDDLE START  *****************/

.middle {
  border: 1px solid cyan;
  /* width: 85%; */
}

.tip-percentage {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 12px;
}

.percentage {
  padding: 8px 0;
  font-weight: 700;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border-radius: 10px;
  border: none;
}

/************ MIDDLE END  *****************/

/************ BOTTOM START  *****************/

.bottom {
  border: 1px solid cyan;
  background-color: var(--Very-dark-cyan);
  border-radius: 10px;
  padding: 25px 15px;
  width: 80%;

}

.tip-amount, .total-amount{
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.desc {
  border: 1px solid purple;
}

.desc p {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.desc p:first-child {
  color: var(--White);
}

.desc p:last-child {
  color: var(--Light-grayish-cyan);
}

.person-price {
  border: 1px solid purple;
  display: flex;
  justify-content: center;
}

.person-price img {
  width: 18px;
}

span {
  font-size: 30px;
}

.person-price p {
  font-size: 26px;
  font-weight: 700;
  color: var(--Strong-cyan);
  text-align: center;
}

/************ BOTTOM END  *****************/
